## join and split

In [11]:
a = ['abc', 'def']
print(a)
b = '..'.join(a)aa
print(b)
print(b.split('..'))

['abc', 'def']
abc..def
['abc', 'def']

In [15]:
example = 'python, java, javascipt'
for content in example.split(","):
    print(content.lstrip())

python
java
javascipt

In [16]:
colors = ['red', 'blue', 'green', 'yellow']
'-'.join(colors)

'red-blue-green-yellow'

## list comprehension

In [17]:
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
result = [i for i in range(10) if i % 2 == 0]
result

[0, 2, 4, 6, 8]

In [22]:
word_1 = 'Hello'
word_2 = 'World'
result = [i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [23]:
case_1 = ['A', 'B', 'C']
case_2 = ['D', 'E', 'A']
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [24]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [26]:
result = [i+j if not(i==j) else i for i in case_1 for j in case_2]
result

['AD', 'AE', 'A', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [27]:
result = [i+j if not(i==j) else 'BEE' for i in case_1 for j in case_2]
result

['AD', 'AE', 'BEE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [28]:
words = 'The quick brown fox jumps over the lazy dog'.split() # 알파벳 24글자 모두 사용하는 문장
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [29]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]

In [30]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [31]:
print(stuff)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [37]:
import pprint

In [38]:
pprint.pprint(stuff)

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [41]:
case_1 = ['A', 'B', 'C']
case_2 = ['D', 'E', 'A']
result = [[i+j for i in case_1 if j != "D"] for j in case_2]
result

[[], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

## enumerate & zip

In [42]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [43]:
my_str = 'ABCD'
{v : i for i, v in enumerate(my_str)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [50]:
text = 'Samsung Group is a South Korean multinational conglomerate headquarterd in Samsung in seoul town'

In [51]:
set_text = list(set(text.split()))

In [52]:
set_text

['Samsung',
 'seoul',
 'Korean',
 'is',
 'headquarterd',
 'in',
 'town',
 'a',
 'Group',
 'conglomerate',
 'multinational',
 'South']

In [54]:
{i : v.lower() for i, v in enumerate(text.split())}

{0: 'samsung',
 1: 'group',
 2: 'is',
 3: 'a',
 4: 'south',
 5: 'korean',
 6: 'multinational',
 7: 'conglomerate',
 8: 'headquarterd',
 9: 'in',
 10: 'samsung',
 11: 'in',
 12: 'seoul',
 13: 'town'}

In [55]:
{i : v.lower() for i, v in enumerate(set_text)}

{0: 'samsung',
 1: 'seoul',
 2: 'korean',
 3: 'is',
 4: 'headquarterd',
 5: 'in',
 6: 'town',
 7: 'a',
 8: 'group',
 9: 'conglomerate',
 10: 'multinational',
 11: 'south'}

In [56]:
type(text.split())

list

In [58]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

[ [a,b] for a, b in zip(alist, blist)]

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [59]:
[ c for c in zip(alist, blist)]

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [60]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)

[sum(value) / 3 for value in zip(math, kor, eng)]

[93.33333333333333, 86.66666666666667, 73.33333333333333]

In [61]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, values in enumerate(zip(alist, blist)):
    print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [62]:
zip(alist, blist)

In [63]:
list(zip(alist, blist))

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [64]:
enumerate(list(zip(alist, blist)))

In [65]:
list(enumerate(list(zip(alist, blist))))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

# lambda & map & reduce

In [1]:
def f(x, y):
    return x + y
f(1, 4)

5

In [5]:
f = (lambda x, y : x + y)
f(10, 50)

60

In [6]:
(lambda x, y : x + y)(10, 50)

60

In [7]:
up_low = lambda x : x.upper() + x.lower()
up_low('My Happy')

'MY HAPPYmy happy'

In [9]:
(lambda x : x.upper() + x.lower())('My Happy')

'MY HAPPYmy happy'

In [10]:
(lambda x : '-'.join(x.split()))('My Happy')

'My-Happy'

In [16]:
def f(x):
    return x + 5

In [17]:
ex = [1, 2, 3, 4, 5]
list(map(f, ex))

[6, 7, 8, 9, 10]

In [18]:
ex = [1, 2, 3, 4, 5]
f = lambda x : x ** 2
list(map(f, ex))

[1, 4, 9, 16, 25]

In [19]:
ex1 = [1,2,3,4,5]
ex2 = [9,8,7,6,5]
f = lambda x, y : x + y
list(map(f, ex1, ex2))

[10, 10, 10, 10, 10]

In [22]:
result = [ex1_value ** 2 + ex2_value - 1 for ex1_value, ex2_value in zip(ex1, ex2)]
result

[9, 11, 15, 21, 29]

In [24]:
f = lambda x: x ** 2

In [25]:
[f(value) for value in ex]

[1, 4, 9, 16, 25]

In [26]:
list(map(lambda x: x ** 2 if x % 2 == 0 else x, ex))

[1, 4, 3, 16, 5]

In [27]:
[value ** 2 if value % 2 == 0 else value for value in ex]

[1, 4, 3, 16, 5]

In [28]:
from functools import reduce
reduce(lambda x, y : x + y, [1, 2, 3, 4, 5])

15

## iterable objects

In [29]:
for city in ['Seoul', 'Busan', 'Pohang']:
    print(city, end = '\t')

Seoul	Busan	Pohang

In [35]:
cities = ['Seoul', 'Busan', 'Pohang']

In [36]:
memory_address_cities = iter(cities)
memory_address_cities

In [37]:
next(memory_address_cities)

'Seoul'

In [38]:
next(memory_address_cities)

'Busan'

In [39]:
next(memory_address_cities)

'Pohang'

In [40]:
next(memory_address_cities)

StopIteration:

iterable 객체의 경우 다음 순서의 객체 위치를 알고 있기 때문에 next()함수 호출 시 다음 객체 반환

## generator

In [41]:
def general_list(value):
    result = []
    for i in range(value):
        result.append(i)
    return result

In [43]:
print(general_list(50))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [44]:
import sys
result = general_list(50)
sys.getsizeof(result)

528

In [50]:
def generator_list(value):
    for i in range(value):
        yield i

In [51]:
for a in generator_list(50):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [52]:
result = generator_list(50)
sys.getsizeof(result)

120

In [54]:
sys.getsizeof(list(generator_list(50)))

472

In [55]:
[value for value in generator_list(50)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [56]:
gen_ex = (n*n for n in range(500))
print(type(gen_ex))

<class 'generator'>

In [57]:
list(gen_ex)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001]

튜플이랑 헷갈리지 말자

## function passing arguments

### keyword arguments

In [58]:
def print_something(my_name, your_name, third_name):
    print('Hello {0}, My name is {1}'.format(your_name, my_name))
    
print_something(third_name = 'abc', my_name = 'Sungchul', your_name = 'TEAMLAB')

Hello TEAMLAB, My name is Sungchul

In [59]:
def print_something(my_name, your_name, third_name):
    print('Hello {0}, My name is {1}'.format(your_name, my_name))
    
print_something('abc', 'Sungchul', 'TEAMLAB')

Hello Sungchul, My name is abc

## variable-length asterisk

In [63]:
def asterisk_test(a, b, *args): # 세 번째부터는 args라는 이름의 튜플에 담김
    print(list(args))
    print(type(args))
    return a+b+sum(args)

In [64]:
asterisk_test(1,2,3,4,5)

[3, 4, 5]
<class 'tuple'>

15

In [65]:
def asterisk_test(*args): # 세 번째부터는 args라는 이름의 튜플에 담김
    x, y, z = args
    return x, y, z
asterisk_test(1,2,3)

(1, 2, 3)

In [66]:
def asterisk_test(*args): # 세 번째부터는 args라는 이름의 튜플에 담김
    x, y, z = args
    return x, y, z
asterisk_test(1,2,3,4)

ValueError: too many values to unpack (expected 3)

In [67]:
def kwargs_test_1(**kwargs):
    print(kwargs)
kwargs_test_1(first = 3, second = 4, third = 5)

{'first': 3, 'second': 4, 'third': 5}

In [69]:
def kwargs_test_1(**kwargs):
    print(kwargs)
    print(type(kwargs))
kwargs_test_1(first = 3, second = 4, third = 5, fourth = 10, fifth = 12)

{'first': 3, 'second': 4, 'third': 5, 'fourth': 10, 'fifth': 12}
<class 'dict'>

In [70]:
def kwargs_test_3(one, two = 3, *args, **kwargs): 
    print(one+two+sum(args))
    print(args)
    print(kwargs)
kwargs_test_3(3,4,5,6,7,8,9, first = 3, second = 4, third = 5)
# 순서: 일반 인자 - 디폴트(키워드) 인자 - 가변인자, 키워드 가변인자

42
(5, 6, 7, 8, 9)
{'first': 3, 'second': 4, 'third': 5}

In [72]:
def kwargs_test_3(one=3, two, *args, **kwargs): 
    print(one+two+sum(args))
    print(args)
    print(kwargs)
kwargs_test_3(3,4,5,6,7,8,9, first = 3, second = 4, third = 5)

SyntaxError: non-default argument follows default argument (429789021.py, line 1)

In [73]:
def kwargs_test_3(one, two = 3, *args, **kwargs): 
    print(one+two+sum(args))
    print(args)
    print(kwargs)
kwargs_test_3(one = 10, two = 300, 4,5,6,7,8,9, first = 3, second = 4, third = 5)

SyntaxError: positional argument follows keyword argument (3576463250.py, line 5)

In [74]:
def kwargs_test_3(one, two = 3, *args, **kwargs): 
    print(one+two+sum(args))
    print(args)
    print(kwargs)
kwargs_test_3(one = 10, two = 300, first = 3, second = 4, third = 5)

310
()
{'first': 3, 'second': 4, 'third': 5}

In [75]:
def asterisk_test(a, *args): # 여러 개의(가변) 인자를 받는 다는 의미
    print(a, *args) # 풀림
    print(a, args) # 묶임
    print(type(args))
test=  (2, 3, 4, 5, 6)
asterisk_test(1, *test) # unpacking a container, 풀어서 넣는다는 의미

1 2 3 4 5 6
1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [76]:
def asterisk_test(a, *args):
    print(a, *args) # 풀림
    print(a, args) # 묶임
    print(type(args))
test=  (2, 3, 4, 5, 6)
asterisk_test(1, test) # unpacking a container

1 (2, 3, 4, 5, 6)
1 ((2, 3, 4, 5, 6),)
<class 'tuple'>

In [80]:
print(['1', '2', '3',' 4'])

['1', '2', '3', ' 4']

In [79]:
print(*['1', '2', '3','4'])

1 2 3 4

In [81]:
ex = ([1, 2], [3, 4], [5, 6], [5, 6], [5, 6])
for value in zip(ex):
    print(value)

([1, 2],)
([3, 4],)
([5, 6],)
([5, 6],)
([5, 6],)

In [84]:
list(zip(ex))

[([1, 2],), ([3, 4],), ([5, 6],), ([5, 6],), ([5, 6],)]

In [85]:
ex = ([1, 2], [3, 4], [5, 6], [5, 6], [5, 6])
for value in zip(*ex): # 양옆에 괄호을 없애는 효과
    print(value)

(1, 3, 5, 5, 5)
(2, 4, 6, 6, 6)

In [87]:
ex = ([1, 2], [3, 4], [5, 6])
a, b, c = ex
for value in zip(a, b, c):
    print(value)

(1, 3, 5)
(2, 4, 6)

In [88]:
ex = ([1, 2], [3, 4], [5, 6])
for value in zip(*ex):
    print(value)

(1, 3, 5)
(2, 4, 6)